@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
      width: .5px;
      height: 20px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      border-radius: 100vh;
      background: #222;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #222;
      border-radius: 100vh;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #222;
    }
    .hideScroll:-webkit-scrollbar{
      display: none;
    }
  }
